{% extends 'index.html' %}
{% block title %}تایید رمز عبور{% endblock %}
{% block css %}

{% endblock %}
{% block content %}
<form class="container-lg mt-5 bg-dark-subtle " action="" method="POST" style="height: 80vh;">
    <img src="/media/site_images/logo%20image.jpg" class="float-end d-none d-lg-block" style="height: 100%; width: 430px" alt="">

{% csrf_token %}
    {% if messages %}
      {% for message in messages %}
          <p class="text-{{ message.tags }} ps-3">{{ message }}</p>
      {% endfor %}
        {% else %}
        <p class="text-{{ message.tags }} ps-3 pt-3" style="height: 80px">{{ message }}</p>
  {% endif %}
    {% for field in form %}
    <div class="mb-4 mb-3  row align-items-center justify-content-end" style="height: 80px">
        <label for="{{ field.name }}" class="col-sm-2 col-form-label
         mb-0 mb-sm-3 text-sm-start text-sm-center">{{ field.label }}</label>
        <div class="col-sm-10 py-2">
            {% if field.errors %}
                <label class="form-text fw-bold mb-5" style="color: rgba(191, 14, 14, 0.75);;font-size: 14px;height: 8px">{{ field.errors }}</label>
                <label class="form-text fw-bold mb-5" style="color: rgba(191, 14, 14, 0.75);;font-size: 14px;height: 8px">{{ field.errors }}</label>
                <br>
            {% endif %}
            {% if field.name == 'password1' %}
                <input type="checkbox" class="form-check-inline" onclick="show_password()">Show Password
            {% endif %}
            <input type="{{ field.widget_type }}" class="form-control" style="min-width: 200px; max-width: 400px"
            id="{{ field.label }}" required name="{{ field.name }}">
            <label for="" class="form-text">{{ field.help_text }}</label>
        </div>
    </div>
    {% endfor %}
    <div class="row justify-content-center align-items-end" style="margin-top: 60px">
        <div class="row justify-content-evenly">
        <button type="submit" class="btn btn-primary col-3 me-md-5">Send</button>
        </div>
    </div>
</form>
<script>function show_password() {
  var x = document.getElementById("Password1");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}</script>
{% endblock %}