{% extends 'index.html' %}
{% block title %}
{% endblock %}

{% block css %}

{% endblock %}
{% block content %}
{% for field in form %}
<div class="d-flex justify-content-center align-items-center" style="width: 100vw; height: 100vh">
    <form action="" method="POST" class="row justify-content-center align-items-center bg-light h-50 w-100 w-sm-50 p-4">
        {% if messages %}
          {% for message in messages %}
              <p class="text-{{ message.tags }} ps-3">{{ message }}</p>
          {% endfor %}
            {% else %}
            <p class="text-{{ message.tags }} ps-3 pt-3" style="height: 80px">{{ message }}</p>
        {% endif %}
        {% csrf_token %}
        <p class="mb-4">برای بازیابی رمز عبور ایمیل خود را وارد کنید</p>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">{{ field.label }}</label>
          <input type="{{ field.widget_type }}" class="form-control text-start" name="{{ field.name }}"
                 id="exampleFormControlInput1" placeholder="ایمیل خود را وارد کنید">
        </div>
        <button type="submit" class="btn btn-primary wid w-50">ارسال</button>
    </form>
</div>

{% endfor %}
{% endblock %}