{% extends 'index.html' %}
{% block title %}ثبت نام{% endblock %}
{% block css %}
{% load i18n %}
{% load socialaccount %}
{% endblock %}

{% block content %}
<form class="container-lg mt-5 bg-dark-subtle pt-4 " action="" method="POST" style="height: 100%;">
    <img src="/media/site_images/logo%20image.jpg" class="float-end d-none d-lg-block" style="height: 100%; width: 430px" alt="">
<h2 class="text-center mb-4">ثبت نام</h2>
<div class="mb-4" style="width: 200px">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
</div>
{% csrf_token %}
    {% if form.errors %}
      {% for error in form.non_field_errors %}
          <p class="text-danger ps-3 pt-3">{{ error|striptags }}</p>
      {% endfor %}
  {% endif %}
    {% if messages %}
      {% for msg in messages %}
          <p class="text-{{ msg.tags }} ps-3 pt-3">{{ msg }}</p>
      {% endfor %}
  {% endif %}
    {% if form.errors %}
        <p class="text-danger mb-1 mt-1">{{ form.username.errors|striptags }}</p>
    {% endif %}
    <label for="" class="d-block mb-1">نام کاربری</label>
    <input type="text" value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
           class="form-control" style="min-width: 200px; max-width: 400px"
    id="username" placeholder="نام کاربری خود را وارد کنید" required name="{{ form.username.name }}">

    {% if form.errors %}
        <p class="text-danger mb-1 mt-1">{{ form.email.errors|striptags }}</p>
    {% endif %}
    <label for="" class="d-block mb-1">ایمیل</label>
    <input type="text"value="{% if form.email.value %}{{ form.email.value }}{% endif %}" class="form-control" style="min-width: 200px; max-width: 400px"
    id="username" placeholder="ایمیل خود را وارد کنید" required name="{{ form.email.name }}">

    {% if form.errors %}
        <p class="text-danger mb-1 mt-1">{{ form.password1.errors|striptags }}</p>
    {% endif %}
    <label for="" class="d-block mb-1">رمز عبور</label>
    <input type="password" class="form-control d-block" style="min-width: 200px; max-width: 400px"
    id="Password" placeholder="رمز عبور خود را وارد کنید" required name="{{ form.password1.name }}">
    <input type="checkbox" class="form-check-inline mt-3 mt-sm-0 d-block d-sm-inline" onclick="show_password()">نمایش رمز عبور
    {% if form.errors %}
        <p class="text-danger mb-1 mt-1">{{ form.password2.errors|striptags }}</p>
    {% endif %}
    <label for="" class="d-block mb-1 mt-3">تکرار رمز عبور</label>
    <input type="password" class="form-control d-block" style="min-width: 200px; max-width: 400px"
    id="Password" placeholder="رمز عبور خود را وارد کنید" required name="{{ form.password2.name }}">


    <a href="{% url 'account-recovery' %}" class="text-decoration-none text-info d-block mb-3 mt-3 " style="width: 220px">رمز عبور خود را فراموش کردم!</a>
    <div class="mb-3 d-flex">
        {{ form.captcha }}
    </div>
    <div class="d-flex d-sm-block justify-content-center">
        {% if form.captcha.errors %}
        <p class="text-danger mb-1 mt-1">{{ form.captcha.errors|striptags }}</p>
        {% endif %}
    <button type="submit" class="btn btn-primary col-3 me-md-5 justify-content-sm-start d">ثبت نام</button>
    </div>
</form>
<script>function show_password() {
  var x = document.getElementById("Password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}</script>
{% endblock %}
