{% extends 'index.html' %}
{% block title %}
{% endblock %}
{% load static %}
{% block css %}
{% endblock %}
{% block content %}
<header>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
      {% for image in header %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <img src="{{image}}" class="d-block img-fluid" alt="..." >
    </div>
      {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</header>


<div class="card border rounded-4 mx-3 mt-4">
    <h3 class="text-center mt-4">خرید بر اساس دسته‌بندی</h3>
    <div class="row flex-row mt-4">
        {% for field in subcategory %}
        <a href="{% url 'subcategory-list' field.name %}" class="col-4 col-sm-2 text-center text-decoration-none">
        <img src="{{ field.avatar }}" alt="" width="120" height="120">
        <p>{{ field.name }}</p>
        </a>
        {% endfor %}
    </div>
</div>

<h3 class="text-center mt-4 mb-3">دسته‌بندی‌های پیشنهادی </h3>
<div class="card mx-3">
    <div>
        <div class="row w-100">
            {% for field in sub_sub_category %}
            <a href="{% url 'sub-subcategory-list' field.name %}" class="col-lg-2 col-md-3 col-sm-4 col-6 text-decoration-none border border-top-0 border-bottom-0" style="width: 180px; height: 154px">
                <img src="{{ field.avatar }}" style="width: 100%"  height="130px">
            <p class="text-center w-100">{{ field.name }}</p>
            </a>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
