{% extends 'index.html' %}
{% block title %}
    دیجی مارکت
{% endblock %}
{% block css %}
<style>
    @media only screen and (max-width: 500px) {
    #sub-category-img {
        width: 100%;
        {#height: 100%;#}
                    }
                    }
    @media only screen and (min-width: 500px) {
    #header-img {
        height: 400px;
                    }
                    }
    @media only screen and (max-width: 500px) {
    #header-img {
        height: 350px;
                    }
                    }
    #products-groups:nth-child(2n+0){
        border-right: #dee6eb solid 1px;
    }
    #products-groups:nth-child(2n+1){
        border-left: #dee6eb solid 1px;
    }
    #products-groups:nth-child(1){
        border-bottom: #dee6eb solid 1px;
    }
    #products-groups:nth-child(2){
        border-bottom: #dee6eb solid 1px;
    }

</style>
{% endblock %}
{% load filters %}
{% block content %}
<header>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
      {% for image in header %}
    <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}" id="header-img">
      <img src="{{ image }}" class="d-block object-fit-cover h-100 w-100" alt="..."  >
    </div>
      {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</header>
<article>
<div class="mt-3 card mx-4 border rounded-4">
    <h2 class="text-center mt-4">دسته بندی های دیجی مارکت</h2>
    <div class="row flex-row text-center mt-3 g-2">
        {% for field in category %}
        <a href="{% url 'category-list' field.name %}" class="col-4 col-lg-2 col-md-3 text-decoration-none">
            <img src="{{ field.avatar }}" alt="" width="90px" height="90px">
            <p>{{ field.name }}</p>
        </a>

        {% endfor %}
    </div>
</div>
<div class="card mx-4 mt-4 border rounded-4">
    <h2 class="text-center mt-4">پیشنهاد دیجی مارکت</h2>
    <div class="row flex-row text-center px-3 pb-3 g-1 mt-4">
        {% for field in subcategory %}
        <a href="{% url 'subcategory-list' field.name %}" class="col-4 col-sm-3 col-lg-2 mt-0 text-decoration-none">
            <img id="sub-category-img" src="{{ field.avatar }}" alt="" width="90" height="90" class="">
            <p>{{ field.name }}</p>
        </a>
        {% endfor %}
    </div>
</div>
<div class="card mx-4 mt-4 border rounded-4 rounded-bottom-0">
    <h4 class="text-center mt-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-percent text-danger" viewBox="0 0 16 16">
            <path d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0zM4.5 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm7 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
        </svg>
        منتخب محصولات تخفیف و حراج
    </h4>
    <div class="row flex-row text-center g-1 mt-4 mx-0 w-100 gx-0 gap-0">
        {% for field in products %}
        <a href="{% url 'product-details' field.category__name field.id %}" class="col-6 col-sm-4 col-md-3 col-lg-2 border border-bottom-0 border-opacity-50 mt-0 text-decoration-none align-items-">
            <img id="sub-category-img" src="{{ field.avatar }}" alt="" width="150" height="150" class="mt-2">
            <div class="d-flex flex-row justify-content-between mt-4">
            <span style="height: 24px" class=" {% if field.discount == 0 %}invisible{% endif %} bg-danger">{{ field.discount }}%</span>
            <div class="{% if field.discount != 0 %} text-light-emphasis{% endif %}">
                {% if field.discount == 0 %}{{ field.price }} تومان{% else %}{{ field.discounted_price }} تومان{% endif %}</div>
            </div>
            {% if field.discount != 0 %}
            <div class="text-end me-4 mt-2 text-decoration-line-through text-muted">{{ field.price }}</div>
            {% endif %}
        </a>
        {% endfor %}
    </div>
</div>
<div class="card mx-4 mt-2">
    <div class="row w-100 mx-0">
        {% for category in sub_sub_categories %}
            <div class="col-lg-3 col-6 border border-bottom-0 border-top-0 g-0 gap-0 w-1">
                <div class="ms-3 mt-2">{{ category.name }}</div>
                <div class="ms-3 mt-2" style="font-size: 12px">بر اساس بازدید های شما</div>
                <div class="row w-100 gx-0" >
                {% for product in products|filter_by_category:category.name%}
                    {% if forloop.counter0 < 4 %}
                    <a href="{% url 'product-details' category.name product.id %}"  class="col-6" id="products-groups">
                        <img src="{{ product.avatar }}" alt="" class="img-fluid" height="119">
                    </a>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</article>
{% endblock %}